[influxdb]
name = InfluxDB Repository - CentOS $releasever
baseurl = https://s3.amazonaws.com/ansible-training-resources/influxdb
enabled = 1
gpgcheck = 1
gpgkey = https://s3.amazonaws.com/ansible-training-resources/influxdb/influxdb.key
