[all:vars]
ansible_user={{ item.username }}
ansible_ssh_pass={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[web]
{% for grouper, list in instances.results|groupby('item') if grouper[0] == item %}
{% for vm in list %}
{% if 'ansible' not in vm.invocation.module_args.instance_tags.Name and 'haproxy' not in vm.invocation.module_args.instance_tags.Name%}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-(node)(\\d)', '\\1-\\2') }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
{% endfor %}

[control]
{% for grouper, list in instances.results|groupby('item') if grouper[0] == item %}
{% for vm in list %}
{% if 'ansible' in vm.invocation.module_args.instance_tags.Name %}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-([\\w]*)', '\\1') }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
{% endfor %}

{#
[haproxy]
{% for grouper, list in instances.results|groupby('item') if grouper[0] == item %}
{% for vm in list %}
{% if 'haproxy' in vm.invocation.module_args.instance_tags.Name %}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-([\\w]*)', '\\1') }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
{% endfor %}
#}
