{{ apache_test_message }} {{ ansible_distribution }} {{ ansible_distribution_version }}  <br>
Current Host: {{ ansible_eth1.ipv4.address }} <br>
Server list: <br>
{% for host in groups['web'] %}
{{ host }} <br>
{% endfor %}