{{ apache_test_message }} {{ ansible_distribution }} {{ ansible_distribution_version }}  <br>
Current Host: {{ ansible_hostname }} <br>
Server list: <br>
{% for host in groups['web'] %}
{{ host }} <br>
{% endfor %}