[all:vars]
ansible_user={{ login }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}



{% for user in users %}
[{{ user.username }}]
{% set counter = -1 %}
{% for host in groups.managed_hosts %}
{% if user.username in host %}
{% set counter = counter + 1 %}
{% if 'control' in host %}
{{ user.username }}_control ansible_host={{ hostvars[host]['ansible_host'] }}
{% else %}
{% if 'node' in host %}
{{ user.username }}_node-{{counter}} ansible_host={{ hostvars[host]['ansible_host'] }}
{% elif 'haproxy' in host %}
{{ user.username }}_haproxy ansible_host={{ hostvars[host]['ansible_host'] }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

{% endfor %}
